#Let's make a coffe shop with PYTHON

#let's build some robot Barista!!

#print  ("nice to know you " + input ("What is your name? "))

print ("Hello, Welcome to Red's Coffe!!!\n")

name = input("What's your name Sir/Madam?\n")

print("\n")

print ("Nice to know you, " + name + "\n\nThank you for coming by\n\n")

menu = "black coffe, cappucino, espresso, latte\n"

print (name + ", What would you like from our menu today?\n\n" + menu)

order = input ()

print ("Thank you for your order, " + name + " We'll get your " + order + " ready as soon as possible\n\n" + "Have a nice day!")






